
@{
    ViewData["Title"] = "Index";
}

<div class=" container row" style="margin-top: 10%;">

    <div class="col-lg-6 col-sm-12">
        <h1 class="display-1" style="margin-top:10%;">Olá!</h1>
				<p style="font-weight: 300;">
					Canguru Jack aguarda você em sua próxima aventura!
			    	Seja na Austrália ou Nova Zelândia, nós temos as passagens certas
					com um preço sob medida para você.
				</p>
				<hr class="mb-3">
                <div class="text-center">
                    <a asp-action="Destinos"><button class="btn btn-warning mt-3 mb-3">Destinos</button></a>
                </div>
    </div>

    <div class="col-lg-6 col-sm-12">
        <img class="img-fluid" style="border-radius:30px;" src="Images/KanguruJack.png" alt="Kanguru Jack" />
    </div>
</Div>

